* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #2c4d70;
  background: linear-gradient(90deg, #345475 0%, #2c4d70 35%, #051e39 100%);
  font-family: Inter;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: vh90;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
}

.header-wrapper {
  width: 50%;
  display: inline-block;
  padding-top: 5rem;
}

.header-img-wrapper {
  width: 50%;
  height: 90vh;
  display: flex;
}

.header-img-wrapper > img {
  margin: 4rem 5rem 0 5rem;
  height: 100%;
  width: 80%;
  border-radius: 3px;
  border: 2px solid navajowhite;
  box-shadow: 0 1px 1px navajowhite;
}

.header-container h1 {
  color: #f7f7f7;
  text-align: center;
  font-size: 8rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
  font-weight: 200;
}

.header-container h2 {
  font-size: 3rem;
  font-weight: 200;
  color: navajowhite;
  text-align: center;
}

h1 > sup {
  font-size: 2rem;
}

.about-container {
  background-color: navajowhite;
  height: 100vh;
  padding: 5rem 10rem;
  color: #271400;
}

.about-container h2 {
  font-size: 5rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.about-container h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #271400;
  margin-bottom: 3rem;
}

.about-container p {
  font-size: 1.7rem;
  color: #4f2900;
  line-height: 1.3;
  margin-bottom: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: justify;
}

.about-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container h5 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about-form input {
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 #333;
}

.about-btn {
  margin-left: 2rem;
  font-family: Inter;
  font-size: 2rem;
  padding: 5px 10px;
  padding-bottom: 10px;
  background-color: #2c4d70;
  color: navajowhite;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: 0.3s ease-out;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 1px 0 #333;
}

.about-btn:hover {
  background-color: #4c6b8c;
  box-shadow: 0 2px 0 #333;
}
